include includes/header.pug

div(class="container-fluid")
    div(class="row" id="loginregister")
        div(class="col six")
            div(class="col-container")
                h1 Login
                form(class="form" action="https://localhost:8080/API/login" method="POST")
                    label(for="username") Username
                    input(type="text" class="form" id="username" name="user")
                    label(for="password") Password 
                    input(type="password" class="form" id="password" name="pw")
                    p(class='register-msg') Don't have an account? 
                        a(href="/register") Register here.
                    button(type="submit" class="btn-landing" onMouseMove="btnOnMouseMove(event)" onMouseOut="btnOnMouseOut(event)" onMouseOver="btnOnMouseOver(event)" onMouseDown="btnOnClick(event)")
                        div(class="btn-circle")
                        p(class="btn-text") Login